html {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

    .container h2 {
        color: #ffffffc9;
        text-align: center;
        /* margin-bottom: 30px; */
    }

    .input_field input {
        width: 290px;
        height: 35px;
        border: none;
        background: #444;
        color: #d3d3d3;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .input_field ::placeholder {
        color: #c0c0c0;
        font-size: 16px;
    }

    .error {
        color: #fd4648;
    }

    .continue-button {
        background-color: #ff4646;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
    }